/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*tag*/

button{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 15px;
}

nav{
    color: white;
    background-color: black;
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 20px;
    
    
}

li{
    
    list-style-type: none;
}

li a{
    font-weight: bold;
    color: white;
}

a{
    border: none;
}


/*class*/


.puls1{
    background-color: gray;
    color: white;
    border: 2px solid coral;
}

.puls1:hover{
    background-color: coral;
    color: black;
}

.puls2{
    background-color: gray;
    color: white;
    border: 2px solid cornflowerblue;
}

.puls2:hover{
    background-color: cornflowerblue;
    color: black;
}

.scatpuls{
    justify-content: center;
}



.contejumb{
    /*dimensione box*/
    height: calc(100vh - 150px);
    background-color: gray;
    /*contenuto centrato*/
    display: flex;
    justify-content: center;
    /*serie di comandi per centrare secondo la viewport*/
    align-items: center;    
}

.logo{
    width: 100px;
    height: 100px;
    display: flex;
    background-image: url(https://th.bing.com/th/id/OIP.7Hv_kTIlRkhH2c8I3t9idwHaFl?pid=ImgDet&rs=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*immagine della 1 sezione*/
.sezione1 div{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    float: right;
}

/*text sezione 1*/
.text1{
    /*display: flex;
    float: left;
    align-items: baseline;*/
}

/*immagine della 2 sezione*/
.sezione2 div{
    width: 300px;
    height: 300px;
    display: flex;
}
/*sezioni pag*/
