/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*tag*/
nav{
    color: white;
    background-color: black;
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 20px;
}

li{
    
    list-style-type: none;
}

li a{
    font-weight: bold;
    color: white;
}

/*class*/
.logo{
    width: 100px;
    height: 100px;
    display: flex;
    background-image: url(https://th.bing.com/th/id/OIP.7Hv_kTIlRkhH2c8I3t9idwHaFl?pid=ImgDet&rs=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*sezioni pag*/
