/*Barra di Navigazione*/
nav{
    color: aquamarine;

}
/*Corpo Pag*/
body{
    background-color: black;
    color: yellow;
}
.container{
    display: flex;
    justify-content: center;
}
/* sistemazioni txt */
h1{
    text-align: center;
    color: aqua;
}


